<div class="headerContainer">
  <img src="../../assets/logo.png" class="headerImg" />

  <div class="headerRight">
    <a target="_blank" href="https://api.whatsapp.com/send?phone=201028242712"><i class="fa-brands fa-whatsapp"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100093354315221" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com/physiotime.clinic/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
  </div>
  
</div>
