<div class="calendarContainer">
  <h1>Choose Reservation Date</h1>
  <div class="calendarAndTimesContainer">
    <div class="calendar">
      <full-calendar
        style="width: 100% "
        [options]="calendarOptions"
      ></full-calendar>
    </div>
    <div class="timesContainer">
      <h1 *ngIf="mySingleDayData?.doctorId">Choose Time In {{ date }}</h1>
      <h3 *ngIf="date===''">Select Date To View Available Times</h3>
      <h3 *ngIf="date!=='' && mySingleDayData?.doctorId===undefined">No Available Times</h3>
      <div class="times" *ngIf="mySingleDayData?.times">
        <ng-container *ngFor="let time of mySingleDayData.times">
        <h1 class="time" *ngIf="isTimeAvailble(time)" (click)="openModal(time)">
          {{convertTimeToNumber(time)}}
        </h1>
      </ng-container>
      </div>
    </div>
  </div>

  <div class="modal-overlay" id="myModal">
    <form class="ReserveModal" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <h1>Reservation</h1>
      <div class="ReserveModalInputContainer">
        <label for="name">Name:</label>
        <input type="text" placeholder="Name" ngModel name="name" required />
      </div>
      <div class="ReserveModalInputContainer">
        <label for="name">Phone Number:</label>
        <input
          type="text"
          placeholder="Phone Number"
          ngModel
          name="phoneNumber"
          required
        />
      </div>
      <div class="ReserveModalInputContainer">
        <label for="name">Email Address:</label>
        <input
          type="email"
          placeholder="Email Address"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
        />
      </div>
      <div class="cancelSubmitModalContainer">
        <button class="cancelModal" (click)="closeModal()" type="button">Cancel</button>
        <button
          class="cancelModal"
          type="submit"
          style="background-color: rgb(82, 147, 25)"
          [disabled]="!f.valid"
          
        >
          Submit
        </button>
      </div>
    </form>
  </div>


  <div class="modal-overlay" id="succededModal">
    <div class="succededModal" >
      <img src="../../assets/checked.png" />
      <h1>Reservation Succeded!</h1>
      <button (click)="closeSuccedessModal()" class="cancelModal">Close</button>
      </div>
      
        
      
    
  </div>



</div>
