<div class="chooseYourDoctorConatainer">
  
  <h1 class="mt-5 fw-bolder">Choose Your Doctor</h1>


  <div class="imgsContainer">
    <div class="img" routerLink="/ReserveAppointment/4077e3b1-2613-4321-b188-b4bfd464d986">
      <img
        style="width: 100%; border-radius: 10px 10px 0 0"
        src="../../assets/122.png"
      />
      <h4 class="mt-3 mb-3">Dr. Ragab Mohammed</h4>
    </div>


    <div class="img" routerLink="/ReserveAppointment/cc5f456c-21db-48f7-8b83-4de6cc842dac">
      <img
        style="width: 100%; border-radius: 10px 10px 0 0"
        src="../../assets/22.jpeg"
      />
      <h4 class="mt-3 mb-3">Dr. Marawan Omara</h4>
    </div>
  </div>
  <div class="img" style="margin-bottom: 50px" (click)="openModal()">
    <img
      style="width: 100%; border-radius: 10px 10px 0 0"
      src="../../assets/female.png"
    />
    <h4 class="mb-3">Female Doctor</h4>
  </div>
</div>


<div class="modal-overlay" id="myModal">
    <div class="requestFemaleContainer">
        <h1>Request Female Doctor</h1>
        <h3>To Request A Female Doctor Please Contact:</h3>
        <div class="phoneNumberContainer">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=201028242712" style="font-size: 20px;font-weight: bold;text-decoration: none;color: blue;">Dr. Ragab Mohammed</a>
        </div>
        <h3>OR</h3>
        <div class="phoneNumberContainer">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=201222209731" style="font-size: 20px;font-weight: bold;text-decoration: none;color: blue;">Dr. Marwan Omara</a>
        </div>
        <button class="cancelModal" (click)="closeModal()">
            Cancel
        </button>
    </div>

</div>




